secrets.json
.env
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
node_modules/
dist/
build/
*.log
coverage/
*.sqlite3
*.db
.env.local
.env.development
.env.testing
.env.production
*.bak
*.swp
*.tmp
*.old
*.zip
*.tar.gz
.deepeval/
*.egg-info/
pip-wheel-metadata/
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.pyre/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytype/
.pyre/
.ipynb_checkpoints/
